{% extends 'todo/skel_two.html' %}
{% block content %}

<div class="container">
    <h1>Create a New Todo</h1>
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="name" class="form-control" id="name">
      </div>
      <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control" id="description" ></textarea>
      </div>
      <div class="form-grou">
          <input type="checkbox" aria-label="Checkbox for following text input" name = 'important' value='important' id= 'important'>
          <label for="important">Urgent</label>
      </div>

      <button type="submit" class="btn btn-primary btn-sm">Create</button>

    </form>


    {% endblock %}

</div>
