{% extends 'todo/skel_two.html' %}
{% block content %}

<div class="container">
  <h1>Current Todos</h1>
    {% if todos|length > 0 %}
    <ul class="list-group">
        {% for todo in todos %}
            {% if todo.important %}
            <div class="list-group">
            <a href="{% url 'inspecttodo' todo.id %}">
              <li class="list-group-item list-group-item-danger">
                {{todo.name}} - {{todo.description|truncatechars:50}}
              </li>
            </a>
              </div>
            {% else %}
            <a href="{% url 'inspecttodo' todo.id %}">
              <li class="list-group-item list-group-item-info">{{todo.name}} - {{todo.description|truncatechars:50}}  </li>
            </a>
            {% endif %}


        {% endfor %}
        {% else %}
        <h2>You have no tasks</h2>
        {% endif %}
    </ul>
</div>

<style media="screen">
  .container {
  margin:auto;
}
</style>

{% endblock %}
