<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Hrishi's ToDo Site</title>
  </head>
  <body>
    {% csrf_token %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" id='name'>Welcome {{user.username}}</a>
        <style media="screen">
          #name{
              text-transform: capitalize;
              }
        </style>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'current' %}">Current</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'displaycompleted' %}">Completed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create' %}">Create</a>
            </li>
          </ul>
          <form action="{% url 'logoutuser'%}" method='POST'>
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary btn-sm my-2 my-sm-0">Log Out</button>
          </form>
        </div>
      </nav>
    {% block content %}
    <!-- Insert other HTML content from other pages -->
    {% endblock %}
    <style media="screen">
      h1{
        font-family: 'Bebas Neue', cursive;
      }

    </style>

  </body>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</html>
